@tailwind base;
@tailwind components;
@tailwind utilities;

.life-question-bg {
  background: rgb(12, 42, 0);
  background: radial-gradient(
    circle,
    rgba(12, 42, 0, 1) 0%,
    rgba(0, 99, 22, 1) 63%,
    rgba(79, 123, 45, 1) 100%
  );
}

.relationship-question-bg {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(140, 40, 40, 1) 50%,
    rgba(173, 31, 31, 1) 67%
  );
}

.past-question-bg {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 18, 41, 1) 50%,
    rgba(23, 24, 53, 1) 67%
  );
}
