@tailwind base;
@tailwind components;
@tailwind utilities;

.life-question-bg {
  background: rgb(12, 42, 0);
  background: radial-gradient(
    circle,
    rgba(12, 42, 0, 1) 0%,
    rgba(0, 99, 22, 1) 63%,
    rgba(79, 123, 45, 1) 100%
  );
}

.relationship-question-bg {
  background: rgb(65, 16, 11);
  background: radial-gradient(
    circle,
    rgba(65, 16, 11, 1) 0%,
    rgba(112, 28, 19, 1) 43%,
    rgba(146, 35, 23, 1) 84%
  );
}

.past-question-bg {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(18, 18, 41, 1) 50%,
    rgba(23, 24, 53, 1) 67%
  );
}
